AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXX
AWS_DEFAULT_REGION=ap-northeast-1
SSM_GCP_KEY_PARAMETER_NAME=/SOPHIAAI/DWH/GCP/ACCESS_KEY/DEVELOP
GCP_PROJECT_ID=sophiaai-develop
TZ=Asia/Tokyo
PYTEST_WITH_EXTERNAL=no
